@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}




/* Hero circular spin */
.circle-text{
  -webkit-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo padrão */
.circle-container {
  margin-top: 5rem;
  width: 80vw; /* Define a largura como 80% da largura da viewport */
  height: 80vw; /* Define a altura igual à largura para manter o círculo */
  max-width: 400px; /* Define a largura máxima para garantir que o círculo não fique muito grande em dispositivos maiores */
  max-height: 400px; /* Define a altura máxima para garantir que o círculo não fique muito grande em dispositivos maiores */
  border-radius: 50%; /* Faz com que o elemento seja um círculo */
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse o limite do círculo */
  position: relative; /* Permite posicionar o pseudo-elemento ::before */
  background-color: rgb(86, 48, 122); /* Cor de fundo do círculo */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para adicionar profundidade */
  transition: transform 0.3s; /* Adiciona uma transição suave para a escala */
}

/* Efeito de hover */
.circle-container:hover {
  transform: scale(1.1); /* Aumenta a escala do círculo quando o mouse passar sobre ele */
}

/* Estilo da borda pulsante */
.circle-container::before {
  content: "";
  position: absolute;
  top: -5%; /* Ajusta a posição da animação para baixo */
  left: -5%; /* Ajusta a posição da animação para a esquerda */
  width: 110%; /* Ajusta a largura para que a borda pulse além do círculo */
  height: 110%; /* Ajusta a altura para que a borda pulse além do círculo */
  border: 1px solid transparent; /* Largura da borda pulsante */
  border-radius: 50%; /* Mantém a mesma forma do círculo */
  animation: pulse 2s linear infinite; /* Define a animação */
}

/* Animação da borda pulsante */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Estilo da imagem */
.circle-container img {
  width: 100%; /* Ajusta a largura da imagem para preencher o círculo */
  height: 100%; /* Ajusta a altura da imagem para preencher o círculo */
  position: absolute; /* Posiciona a imagem dentro do círculo */
  top: 0; /* Alinha a imagem ao topo */
  left: 0; /* Alinha a imagem à esquerda */
  border-radius: 50%; /* Garante que a imagem seja exibida como um círculo */
  object-fit: cover; /* Mantém a proporção da imagem e corta o excesso para ajustar ao círculo */
}

@media screen and (max-width: 768px) {
  .circle-container {
    margin-top: 5rem; /* Reduz a margem superior para dispositivos móveis */
  }
}